@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.custom-font {
  font-family: 'Roboto Slab', serif;
}

.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Adjusted duration for smooth animation */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  transition: none; /* Remove any transition effects */
}

.card:hover .card-img-top {
  transform: none; /* Ensure the image does not zoom */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
