.tab-fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.tab-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.tab-fade-exit {
  opacity: 1;
}
.tab-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.custom-nav-link {
  border-radius: 20px;  /* Rounded corners */
  background-color: transparent; /* Removes default blue background */
  border: none;
}

.custom-nav-link:hover {
  background-color: #e9ecef; /* Grey background on hover */
  color: #495057; /* Optional: changes text color on hover */
}
